<div class="jumbotron">
  <h1 class="display-4">課題アプリ</h1>
  <p class="lead">下記記載の機能を実装していきましょう。</p>
  <hr class="my-4">
  <ul>
    <li>Bootstrapを使用してデザインを少し意識しましょう。</li>
    <li>投稿一覧ページを作成しましょう</li>
    <li>一覧ページのリンクをクリックすると各々の詳細ページへ飛ぶようにしましょう！</li>
  </ul>
</div>

<p></p>